<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mercado Liebre">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="Mercado Liebre">
    <meta property="og:description" content="copia de Mercado Libre">
    <meta property="og:image" content="">
    <meta property="or:url" content="http://localhost:3030">
    
    
    
    <title>Mercado Liebre - Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="header_home">
        <div class="header_elements">
            <figure>
                <a href="/home"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo"></a>
            </figure>
            <div class="search">
                <input type="text" class="input" placeholder="Buscar productos , marcas">
                <i class="fa-solid fa-magnifying-glass icon"></i>
            </div>
            <p class="buy"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <nav class="nav">
        <ul class="nav01">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/registro">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="/ingresar">Ingresá <i class="fa-solid fa-right-from-bracket"></i></a></li>
            <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner">
    </header>
    <main class="main_login">
        <form action="" method="post">
            <h4 class="subt">Ingresa tu usuario y contraseña</h4>
            <div class="info">
            <div>
                <label for="nombreUsuario"></label>
                <input type="text" name="nombreUsuario" value="" id="usuario" placeholder="  Nombre de Usuario">
            </div>
            <div>
                <label for="contrasenia"></label>
                <input type="password" name="contrasenia" id="contrasenia" value="" placeholder="  Contraseña">
            </div>
            <div class="buttons">
                <button class="btn1" type="submit"><a href="/home" class="a">Enviar</a></button>
            </div>
            </div>
        </form>
    </main>
    <footer class="footer_home">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h2><strong>Pagá con tarjeta o en efectivo</strong></h2>
            <p>
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h2><strong>Envío gratis desde los $ 2.500</strong></h2>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h2><strong>Seguridad de principio a fin</strong></h2>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.
            </p>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>