/* FOOTER MOBILE */

@media (min-width: 0px) {
    
.footer_home {
    background-color: var(--gris);
}

.footer_home section {
    margin: 60px 20px;
    text-align: center;
}

.footer_home section i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--celeste);
    display: flex;
    justify-content: center;
}

.footer_home section h3 {
    font-size: var(--titulares);
}

.footer_home section p {
    padding: 0px 70px;
    font-size: var(--cuerpo_texto);
    color: var(--gris_oscuro);
}

.footer_home .copyright {
    margin: 10px 10px 20px 20px;
    text-align: left;
    color: var(--gris_oscuro);
}
}

/* FOOTER TABLET */

@media (min-width: 361px) {
    .footer_home {
    }
    
    .footer_home section {
    }
    
    .footer_home section i {
    }
    
    .footer_home section h3 {
    }
    
    .footer_home section p {
    }
    
    .footer_home .copyright {
}
}



/* FOOTER DESKTOP */

@media (min-width: 769px) {
    .footer_home {
    }
    
    .footer_home section {
    }
    
    .footer_home section i {
    }
    
    .footer_home section h3 {
    }
    
    .footer_home section p {
    }
    
    .footer_home .copyright {
}
}