.header_home {
    background-color: var(--amarillo);
}

.header_home figure .logo {
    width: 40%;
    margin: 5% 0px 0px 5%;
}

.header_home .search {
    margin: 20px;
    display: flex;
    gap: 10px;
}

.header_home .search .input {
    width: 230px;
}

.header_home .search .logo_busqueda {
    margin-top: 3px;
}

.header_home .search .logo_busqueda i {
    background-color: var(--gris_claro);
    border: 1px solid grey;
    width: 20px 20px 20px 20px;
}

.header_home p {
    text-align: center;
}

.header_home .nav {
    display: none;
}

.header_home .nav ul {
    text-align: left;
    padding: 0px;
    color: black;
}

.header_home .nav a {   
    color: black;   
    text-decoration: none;
}

.header_home .nav ul.nav01 {
    margin: 20px 0px;
}

.header_home .burger-menu {
    color: var(--gris_claro);
    text-align: center;
    background-color: var(--celeste);
    padding: 10px;
    border-radius: 4px;
    margin: 7% 45%;
}


.header_home .banner {
    width: 100vw;
    display: flex;
}

/* HEADER TABLET */

@media (min-width: 361px) {

.header_home .nav {
    display: block;
    margin: 40px 0px 20px 20px;
}

.header_home .nav ul.nav01 {
    margin: 0;
}

.header_home .nav li {
    list-style-type: none;
    
}

.header_home .burger-menu {
    display: none;
}
}

/* HEADER DESKTOP */

@media (min-width: 769px) {
    
}


