.main_home {
    background-color: var(--gris_claro);
    text-align: center;
    padding: 10px 0;
}

.main_home .productos {width: 90%;margin: 0 auto;}

.main_home .productos .subt {
    font-size: var(--titulares);
    text-align: left;
    color: var(--gris_oscuro);
    margin: 20px 0;
}

.main_home .productos div {
    background-color: white;
    text-align: left;
    box-shadow: 0px 0px 0px rgb(100,100,100);
}

.main_home .productos img {
    width: 100%;
    display: flex;
}

.main_home .productos div i {
    color: limegreen;
    border: 1px solid;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 15px;
}

.main_home .productos div .precios {
    font-size: var(--precios);
}

.main_home .productos div .descuentos {
    font-size: var(--descuentos);
    color: limegreen;
}

.main_home .productos div .descripciones {
    font-size: var(--descripciones);
    color: var(--gris_oscuro);
    display: none;
}

.main_home .productos div .desc {
    margin: 0px 0px 15px 0px;
    padding: 15px 0px 15px 15px;
    width: auto;
    border-top: 1px solid #ebebeb;
}

/* HOME TABLET */

@media (min-width: 361px) {
    .main_home .productos div .descripciones {
        display: block;
    }
}

/* HOME DESKTOP */
