.main_home {
    background-color: var(--gris_claro);
    text-align: center;
    /* width: 100%; */ /* Ancho del contenedor principal */
    /* max-width: 1200px; */ /* Ancho máximo del contenedor principal si es necesario */
    /* margin: 0 auto; */
}

.main_home .productos {width: 90%;margin: 0 auto;}

.main_home .productos .subt {
    font-size: var(--titulares);
    text-align: left;
    color: var(--gris_oscuro);
    margin: 0px 0px 10px 15px;
}

.main_home .productos div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 390px;
    margin-bottom: 10px;
    border-top: 1px solid #ebebeb;
}

.main_home .productos img {width: 100%;}

.main_home .productos div p {}

.main_home .productos div .precios {
    font-size: var(--precios);
}

.main_home .productos div .descuentos {
    font-size: var(--descuentos);
    color: green;
}

.main_home .productos div .descripciones {
    font-size: var(--descripciones);
    color: var(--gris_oscuro);
}

